* {
  margin: 0px;
  padding: 0px;
}
/*----------------------------------------------------------------------------*/
#container{ background: red;
  width: 1000px;
  height: 987px;

  /* DEBUG */
  background-image: url("spec.png");
  background-size: contain;
  background-repeat: no-repeat;
}
/*----------------------------------------------------------------------------*/
.div-titles {
  background: red;
  background-image: linear-gradient(#B4B4B7, #888894, #B3B3B5);
}
/*----------------------------------------------------------------------------*/
#header { background: blue;
    height: 65px;
    /* DEBUG */
    opacity: 0.5;
}
/*----------------------------------------------------------------------------*/
#header-left {
  display: inline-block;
  height: 100px;
  width: 165px;
  padding-top: 12px;
  padding-left: 28px;
}
#header-right {
  display: inline-block;
  /* text-align: right;
  vertical-align: top; */
  float: right;

  padding-top: 19px;
  padding-right: 42px;
}
/*----------------------------------------------------------------------------*/
#image_ {
  height:      271px;
  padding-top:  26px;
  padding-left: 31px;
  border:        1px;
  border-color: white;

  /* DEBUG */
  opacity: 0.5;
}
/*----------------------------------------------------------------------------*/
#upper-right-box { background: red;
  display: inline-block;
  vertical-align: top;
  margin-top: 21px;
  margin-left: 27px;
  height: 280px;
  width: 497px;

  /* DEBUG */
  opacity: 0.5;
}
/*----------------------------------------------------------------------------*/
.div-titles { background: silver;
  height: 43px;
  padding-left: 10px;
  padding-top: 10px;

  font-size: 19px;
  font-family: sans-serif;


  /* DEBUG */
  opacity: 0.5;
}
/*----------------------------------------------------------------------------*/
#text-About {
  color: blue;
}
